:root {
    background-color: rgba(128, 128, 128, 0.096);
    height: auto;
    margin: auto;
}

header {
    background: -webkit-linear-gradient(right, #D75D5D, #e0d52e);
    border-bottom: solid 10px hsla(55, 12%, 40%, 0.315);
}

.search {
    margin: 70px 20px 0 auto;
}

button-container {
    /*border: 1px solid black;*/
    width: 80%;
    flex-wrap: wrap;
    position: flex;
}
 
#main-area {
    margin: 0 200px 0px 200px;
    padding: 0 0 100px 0;  
}

#main-area h2 {
    font-size: 3em;
    margin-bottom: .5em;
    width: 100%;
}

#genre-list {
    margin-bottom: 20px;
}

#movie-images{
    gap: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgb(252, 244, 224);
    padding: 15px 0;
    border-radius: 1rem;
}

.modal-content{
    background: -webkit-linear-gradient(right, #D75D5D, #e0d52e);
    border-radius:1pc;
    width: 300px;
    
}

.modal img {
    float: right;
    width: 200x;
}

.modal p {
    font-size: 18px;
}

.saveButton {
    margin: 10px auto;
    background: -webkit-linear-gradient(right, #f08080, #e0d52e);
    padding: 5px;
    border-radius: 5px;
    position: relative;
    bottom: 0;
}

.aboutimg {
    width: 200px;
    float: right;
    margin-left: 10px;
}

footer {
    background: -webkit-linear-gradient(right, #D75D5D, #e0d52e, #D75D5D);    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}

footer p strong{
    font-style: italic;
    }
    
    /* styles for save button in modal */
    
/* styles for genre buttons */
.genre {
    margin: 2px;
    background-color: rgba(128, 128, 128, 0.096);
    padding: 5px;
    border-radius: 5px;
    color:hsl(204, 86%, 53%);
    
}

/* styles for clear watch list button */

.clear-watchlist{
    margin: 2px;
    background: -webkit-linear-gradient(right, #D75D5D, #e0d52e);
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    position:fixed;
    bottom: 0;
    margin: 30px auto 40px auto;
    font-size: 16px;
}
    
/* styles for button to remove a single item */
.remove-item {
    margin: 2px;
    background-color: rgb(252, 244, 224);
    padding: 5px;
    border-radius: 5px;
    color:v black;
   
}
    

/* Media Query for small screen Moble*/

@media only screen and (max-width: 600px) {
 
    #movie-images{
    gap: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgb(252, 244, 224);
    padding: 15px 0;
    border-radius: 1rem;
    } 

    #main-area {
        margin: 0 0px;
    }

    .modal-content{
        background: -webkit-linear-gradient(right, #D75D5D, #e0d52e);
        border-radius:0;
        width: 300px;    
    }

    .modal img {
        float: right;
        width: 200px;
    }

    .clear-watchlist{
       
        margin: 40px auto 70px auto;
        font-size: 16px;
    }
    
    footer p {
        margin: 15px;
    }
}